<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<!--<suite name="Suite" parallel="methods" thread-count="2">-->
<suite name="Suite">
  <test name="TestSwagLabs">
  <!--<groups>
  	<run>
  		<include name="smoke"></include>
  		<exclude name="reg"></exclude>
  	</run>
  </groups>-->
  	<classes>
  		<class name="com.Swaglabs.app.MyApp.LoginTest"></class>
  		<class name="com.Swaglabs.app.MyApp.TestInvalidLogin"></class>
  		
  	</classes>
  </test>
  
</suite> <!-- Suite -->

